# Python virtual environment
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db